#magic {
  background-color: #f9f9f9;
  padding-bottom: 0;
  padding-top: 75px;
}
#magic .magicHeader {
  padding-top: 61px;
  padding-bottom: 10px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
#magic .magicHeader .magicHeaderInner {
  padding: 0px 15px;
}
#magic .magicHeader .magicHeaderInner h1 {
  font-size: 52px;
  font-family: "Harmonia Sans", sans-serif;
  line-height: 1em;
  letter-spacing: -0.8px;
  color: #000;
  text-transform: none;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
#magic .magicHeader .magicHeaderInner h2 {
  font-size: 52px;
  font-family: "Harmonia Sans", sans-serif;
  line-height: 1em;
  letter-spacing: -0.8px;
  color: #000;
  text-transform: none;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
#magic .magicHeader .magicHeaderInner h1 span {
  font-weight: 700;
}
#magic .magicHeader .magicHeaderInner h2 span {
  font-weight: 700;
  color: rgb(140, 140, 140);
}
#magic .magicItems .magicItemOne {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 63px;
  padding-top: 47px;
  padding-bottom: 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

#magic .magicItems .magicItemOne .magicItemOneLeftImage {
  padding: 0px 15px;
  width: 66.66667%;
}
#magic
  .magicItems
  .magicItemOne
  .magicItemOneLeftImage
  .magicItemOneLeftImageInner {
  margin-left: -32px;
}
#magic
  .magicItems
  .magicItemOne
  .magicItemOneLeftImage
  .magicItemOneLeftImageInner
  img {
  width: 100%;
  height: auto;
  max-width: 100%;
}
#magic .magicItems .magicItemOne .magicItemOneRightContent {
  padding: 0px 15px;
  width: 33.33333%;
}
#magic
  .magicItems
  .magicItemOne
  .magicItemOneRightContent
  .magicItemOneRightContentHeading {
  margin-top: 20px;
  margin-bottom: 50px;
}
#magic
  .magicItems
  .magicItemOne
  .magicItemOneRightContent
  .magicItemOneRightContentHeading
  h1 {
  font-size: 23px;
  font-family: "Harmonia Sans", sans-serif;
  line-height: 1.1em;
  letter-spacing: -0.4px;
  color: #000;
  text-transform: none;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
#magic
  .magicItems
  .magicItemOne
  .magicItemOneRightContent
  .magicItemOneRightContentHeading
  h1
  span:nth-child(2) {
  color: rgb(109, 109, 109);
}
#magic
  .magicItems
  .magicItemOne
  .magicItemOneRightContent
  .magicItemOneRightContentBottom {
  padding: 14px 0px 10px 0px;
  display: flex;
}
#magic
  .magicItems
  .magicItemOne
  .magicItemOneRightContent
  .magicItemOneRightContentBottom
  .magicItemOneRightContentBottomImage {
  padding: 0px 4px;
  max-width: 79px;
}
#magic
  .magicItems
  .magicItemOne
  .magicItemOneRightContent
  .magicItemOneRightContentBottom
  .magicItemOneRightContentBottomImage
  img {
  width: 80%;
  height: auto;
}
#magic
  .magicItems
  .magicItemOne
  .magicItemOneRightContent
  .magicItemOneRightContentBottom
  .magicItemOneRightContentBottomText {
  padding: 0px 4px;
}
#magic
  .magicItems
  .magicItemOne
  .magicItemOneRightContent
  .magicItemOneRightContentBottom
  .magicItemOneRightContentBottomText
  p {
  font-size: 16px;
  font-family: "Harmonia Sans", sans-serif;
  line-height: 1.8em;
  letter-spacing: -0.3px;
  color: #3d3d3dbf;
  text-transform: none;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
#magic .magicItems .magicItemTwo {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 28px;
  padding-top: 96px;
  padding-bottom: 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

#magic .magicItems .magicItemTwo .magicItemTwoLeftContent {
  padding: 0px 15px;
  width: 41.66667%;
}
#magic
  .magicItems
  .magicItemTwo
  .magicItemTwoLeftContent
  .magicItemTwoLeftContentHeading {
  margin-top: 20px;
  margin-bottom: 104px;
}
#magic
  .magicItems
  .magicItemTwo
  .magicItemTwoLeftContent
  .magicItemTwoLeftContentHeading
  h1 {
  font-size: 23px;
  font-family: "Harmonia Sans", sans-serif;
  line-height: 1.1em;
  letter-spacing: -0.4px;
  color: #000;
  text-transform: none;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
#magic
  .magicItems
  .magicItemTwo
  .magicItemTwoLeftContent
  .magicItemTwoLeftContentHeading
  h1
  span:nth-child(2) {
  color: rgb(109, 109, 109);
}

#magic .magicItems .magicItemTwo .magicItemTwoRightImage {
  padding: 0px 15px;
  width: 58.33333%;
}

#magic
  .magicItems
  .magicItemTwo
  .magicItemTwoRightImage
  .magicItemTwoRightImageInner
  img {
  width: 100%;
  height: auto;
  max-width: 100%;
}
