#manualWork {
  background-color: #fff;
  padding-top: 30px;
  padding-bottom: 75px;
}
#manualWork .manualWorkTop {
  padding-top: 30px;
  padding-right: 200px;
  padding-bottom: 10px;
  padding-left: 200px;
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
#manualWork .manualWorkTop .manualWorkTopInner {
  padding: 0px 15px;
}
#manualWork .manualWorkTop .manualWorkTopInner .manualWorkTopInnerWrapper {
  background-color: #f9f9f9;
  border-radius: 25px;
  padding: 70px 75px 0;
}
#manualWork
  .manualWorkTop
  .manualWorkTopInner
  .manualWorkTopInnerWrapper
  .manualWorkTopInnerWrapperInner {
  padding: 0px 15px;
}
#manualWork
  .manualWorkTop
  .manualWorkTopInner
  .manualWorkTopInnerWrapper
  .manualWorkTopInnerWrapperInner
  .manualWorkTopHeader
  h1 {
  font-size: 41px;
  font-family: "Harmonia Sans", sans-serif;
  line-height: 1.1em;
  letter-spacing: 0px;
  color: #0e0e0e;
  text-transform: none;
  font-weight: 700;
  margin: 0;
  padding: 0;
  text-align: center;
}
#manualWork
  .manualWorkTop
  .manualWorkTopInner
  .manualWorkTopInnerWrapper
  .manualWorkTopInnerWrapperInner
  .manualWorkTopHeader
  h1
  span {
  font-style: italic;
}
#manualWork
  .manualWorkTop
  .manualWorkTopInner
  .manualWorkTopInnerWrapper
  .manualWorkTopInnerWrapperInner
  .manualWorkTopPara {
  margin-top: 10px;
  text-align: center;
}
#manualWork
  .manualWorkTop
  .manualWorkTopInner
  .manualWorkTopInnerWrapper
  .manualWorkTopInnerWrapperInner
  .manualWorkTopPara
  p {
  font-size: 16.8px;
  font-family: "Harmonia Sans", sans-serif;
  line-height: 1.4em;
  letter-spacing: 0.1px;
  color: #0e0e0ebf;
  text-transform: none;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
#manualWork
  .manualWorkTop
  .manualWorkTopInner
  .manualWorkTopInnerWrapper
  .manualWorkTopInnerWrapperInner
  .manualWorkTopImage {
  margin-top: 40px;
}
#manualWork
  .manualWorkTop
  .manualWorkTopInner
  .manualWorkTopInnerWrapper
  .manualWorkTopInnerWrapperInner
  .manualWorkTopImage
  img {
  width: 100%;
  height: auto;
  max-width: 100%;
}
#manualWork .manualWorkBottom {
  padding-top: 70px;
  padding-right: 200px;
  padding-bottom: 10px;
  padding-left: 200px;
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}


#manualWork .manualWorkBottom .manualWorkBottomInner {
  padding: 0px 15px;
}

#manualWork .manualWorkBottom .manualWorkBottomInner .own_review {
  background-color: #faf4e4a6;
  padding: 29px 70px 51px;
  border-radius: 15px;
}

#manualWork
  .manualWorkBottom
  .manualWorkBottomInner
  .own_review
  .own_reviewInner {
  padding: 0px 15px;
}

#manualWork
  .manualWorkBottom
  .manualWorkBottomInner
  .own_review
  .own_reviewInner
  .own_reviewInnerWrapper {
  padding-top: 12px;
  padding-bottom: 4px;
}

#manualWork
  .manualWorkBottom
  .manualWorkBottomInner
  .own_review
  .own_reviewInner
  .own_reviewInnerWrapper
  .own_reviewInnerWrapperInner {
  padding: 0px 15px;
}

#manualWork
  .manualWorkBottom
  .manualWorkBottomInner
  .own_review
  .own_reviewInner
  .own_reviewInnerWrapper
  .own_reviewInnerWrapperInner
  .icon {
  padding-bottom: 0;
  padding-top: 20px;
}

#manualWork
  .manualWorkBottom
  .manualWorkBottomInner
  .own_review
  .own_reviewInner
  .own_reviewInnerWrapper
  .own_reviewInnerWrapperInner
  .icon
  svg {
  margin-left: -7px;
  width: 21px;
}

#manualWork
  .manualWorkBottom
  .manualWorkBottomInner
  .own_review
  .own_reviewInner
  .own_reviewInnerWrapper
  .own_reviewInnerWrapperInner
  .username
  p {
  font-size: 14px;
  font-family: "Harmonia Sans", sans-serif;
  line-height: 1.6em;
  letter-spacing: 0.1px;
  color: #383838bf;
  text-transform: none;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

#manualWork
  .manualWorkBottom
  .manualWorkBottomInner
  .own_review
  .own_reviewInner
  .own_reviewInnerWrapper
  .own_reviewInnerWrapperInner
  .username
  .use {
  font-weight: 700;
  text-decoration: underline;
  font-style: normal;
}
#manualWork
  .manualWorkBottom
  .manualWorkBottomInner
  .own_review
  .own_reviewInner
  .own_reviewInnerWrapper
  .own_reviewInnerWrapperInner
  .username
  .dot {
  letter-spacing: 0.63px;
}
#manualWork
  .manualWorkBottom
  .manualWorkBottomInner
  .own_review
  .own_reviewInner
  .own_reviewInnerWrapper
  .own_reviewInnerWrapperInner
  .username
  .date {
  letter-spacing: 0.63px;
}
#manualWork
  .manualWorkBottom
  .manualWorkBottomInner
  .own_review
  .own_reviewInner
  .own_reviewInnerWrapper
  .own_reviewInnerWrapperInner
  .dsc {
  margin-top: 25px;
}
#manualWork
  .manualWorkBottom
  .manualWorkBottomInner
  .own_review
  .own_reviewInner
  .own_reviewInnerWrapper
  .own_reviewInnerWrapperInner
  .dsc
  p {
  font-size: 18px;
  font-family: "Harmonia Sans", sans-serif;
  line-height: 1.5em;
  letter-spacing: 0.2px;
  color: #0e0e0ebf;
  text-transform: none;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
#manualWork
  .manualWorkBottom
  .manualWorkBottomInner
  .own_review
  .own_reviewInner
  .own_reviewInnerWrapper
  .own_reviewInnerWrapperInner
  .person {
  display: flex;
  justify-content: start;
  align-items: center;
  padding-top: 28px;
  padding-bottom: 0px;
}
#manualWork
  .manualWorkBottom
  .manualWorkBottomInner
  .own_review
  .own_reviewInner
  .own_reviewInnerWrapper
  .own_reviewInnerWrapperInner
  .person
  .pic {
  width: 16.66667%;
}
#manualWork
  .manualWorkBottom
  .manualWorkBottomInner
  .own_review
  .own_reviewInner
  .own_reviewInnerWrapper
  .own_reviewInnerWrapperInner
  .person
  .pic
  img {
  width: 70%;
  height: auto;
  max-width: 100%;
}
#manualWork
  .manualWorkBottom
  .manualWorkBottomInner
  .own_review
  .own_reviewInner
  .own_reviewInnerWrapper
  .own_reviewInnerWrapperInner
  .person
  .per_text {
  width: 83.33333%;
}
#manualWork
  .manualWorkBottom
  .manualWorkBottomInner
  .own_review
  .own_reviewInner
  .own_reviewInnerWrapper
  .own_reviewInnerWrapperInner
  .person
  .per_text
  h1 {
  font-size: 18px;
  font-family: "Harmonia Sans", sans-serif;
  line-height: 1.2em;
  letter-spacing: 0.1px;
  color: #0e0e0e;
  text-transform: none;
  font-weight: 700;
  margin: 0;
  padding: 0;
}
#manualWork
  .manualWorkBottom
  .manualWorkBottomInner
  .own_review
  .own_reviewInner
  .own_reviewInnerWrapper
  .own_reviewInnerWrapperInner
  .person
  .per_text
  p {
  font-size: 16px;
  font-family: "Harmonia Sans", sans-serif;
  line-height: 1.5em;
  letter-spacing: 0.2px;
  color: #0e0e0ebf;
  text-transform: none;
  font-weight: 400;
  padding-bottom: 0;
  margin-top: 5px;
}

/* responsive */

@media only screen and (max-width: 1199px) {
  #manualWork .manualWorkTop {
    padding-top: 30px;
    padding-right: 80px;
    padding-bottom: 10px;
    padding-left: 80px;
  }
  #manualWork .manualWorkTop .manualWorkTopInner .manualWorkTopInnerWrapper {
    padding: 70px 80px 30px;
  }
  #manualWork
    .manualWorkTop
    .manualWorkTopInner
    .manualWorkTopInnerWrapper
    .manualWorkTopInnerWrapperInner
    .manualWorkTopHeader
    h1 {
    font-size: 42px;
    line-height: 1.1em;
    letter-spacing: 0px;
  }
  #manualWork
    .manualWorkTop
    .manualWorkTopInner
    .manualWorkTopInnerWrapper
    .manualWorkTopInnerWrapperInner
    .manualWorkTopPara
    p {
    font-size: 16.8px;
    line-height: 1.6em;
    letter-spacing: 0.1px;
  }

  /* *************************** */

  #manualWork .manualWorkBottom {
    padding-top: 70px;
    padding-right: 150px;
    padding-bottom: 10px;
    padding-left: 150px;
  }

  #manualWork
    .manualWorkBottom
    .manualWorkBottomInner
    .own_review
    .own_reviewInner
    .own_reviewInnerWrapper
    .own_reviewInnerWrapperInner
    .dsc
    p {
    font-size: 19px;
    line-height: 1.5em;
    letter-spacing: 0.2px;
  }
  #manualWork
    .manualWorkBottom
    .manualWorkBottomInner
    .own_review
    .own_reviewInner
    .own_reviewInnerWrapper
    .own_reviewInnerWrapperInner
    .person
    .pic {
    width: 25%;
  }
  #manualWork
    .manualWorkBottom
    .manualWorkBottomInner
    .own_review
    .own_reviewInner
    .own_reviewInnerWrapper
    .own_reviewInnerWrapperInner
    .person
    .per_text {
    width: 75%;
  }
}

@media only screen and (max-width: 991px) {
  #manualWork {
    padding-top: 23px;
    padding-bottom: 62px;
  }
  #manualWork .manualWorkTop {
    padding-top: 30px;
    padding-right: 50px;
    padding-bottom: 10px;
    padding-left: 50px;
  }
  #manualWork .manualWorkTop .manualWorkTopInner .manualWorkTopInnerWrapper {
    padding: 70px 40px 17px;
  }
  #manualWork
    .manualWorkTop
    .manualWorkTopInner
    .manualWorkTopInnerWrapper
    .manualWorkTopInnerWrapperInner
    .manualWorkTopHeader
    h1 {
    font-size: 36px;
    line-height: 1.1em;
    letter-spacing: 0px;
  }

  /* ************************* */

  #manualWork .manualWorkBottom {
    padding-top: 46px;
    padding-right: 50px;
    padding-bottom: 10px;
    padding-left: 50px;
  }
}

@media only screen and (max-width: 767px) {
  #manualWork {
    padding-top: 0px;
    padding-bottom: 44px;
  }
  #manualWork .manualWorkTop {
    padding-top: 30px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
  }
  #manualWork .manualWorkTop .manualWorkTopInner .manualWorkTopInnerWrapper {
    padding: 56px 20px 30px;
  }
  #manualWork
    .manualWorkTop
    .manualWorkTopInner
    .manualWorkTopInnerWrapper
    .manualWorkTopInnerWrapperInner
    .manualWorkTopHeader
    h1 {
    font-size: 21px;
    line-height: 1.1em;
    letter-spacing: 0px;
  }
  #manualWork
    .manualWorkTop
    .manualWorkTopInner
    .manualWorkTopInnerWrapper
    .manualWorkTopInnerWrapperInner
    .manualWorkTopPara {
    margin-top: 10px;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
  }
  #manualWork
    .manualWorkTop
    .manualWorkTopInner
    .manualWorkTopInnerWrapper
    .manualWorkTopInnerWrapperInner
    .manualWorkTopPara
    p {
    font-size: 15px;
    line-height: 1.3em;
    letter-spacing: 0.1px;
  }
  #manualWork
    .manualWorkTop
    .manualWorkTopInner
    .manualWorkTopInnerWrapper
    .manualWorkTopInnerWrapperInner
    .manualWorkTopImage {
    margin-top: 20px;
    margin-right: -45px;
    margin-left: -45px;
  }

  /* *********************** */

  #manualWork .manualWorkBottom {
    padding-top: 28px;
    padding-right: 25px;
    padding-bottom: 10px;
    padding-left: 25px;
  }
  
  #manualWork .manualWorkBottom .manualWorkBottomInner .own_review {
    padding: 15px 25px 51px;
  }
  #manualWork
    .manualWorkBottom
    .manualWorkBottomInner
    .own_review
    .own_reviewInner
    .own_reviewInnerWrapper {
    padding-top: 19px;
    padding-bottom: 4px;
  }
  #manualWork
    .manualWorkBottom
    .manualWorkBottomInner
    .own_review
    .own_reviewInner
    .own_reviewInnerWrapper
    .own_reviewInnerWrapperInner
    .dsc
    p {
    font-size: 15px;
    line-height: 1.5em;
    letter-spacing: 0.2px;
  }
  #manualWork
    .manualWorkBottom
    .manualWorkBottomInner
    .own_review
    .own_reviewInner
    .own_reviewInnerWrapper
    .own_reviewInnerWrapperInner
    .person
    .per_text
    p {
    font-size: 14px;
    line-height: 1.5em;
    letter-spacing: 0.2px;
  }
}
